aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
discord.py==1.4.1
futures==3.1.1
GoogleNews==1.4.0
googletrans==3.0.0
goslate==1.5.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.8.12
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
multidict==4.7.6
numpy==1.19.1
Pillow==7.2.0
PyDictionary==2.0.1
requests==2.24.0
reverse-geocoder==1.5.1
rfc3986==1.4.0
scipy==1.5.2
sniffio==1.1.0
soupsieve==2.0.1
tinydb==4.1.1
urllib3==1.25.10
wikipedia==1.4.0
yarl==1.5.1
